.pano {
  width: 100%;
  height: 300px;

  background-color: gray;
  margin: 10px 0;
}
.buttons {
  text-align: right;
}

.fullWidth {
  width: 100%;
}

.cancelButton {
  position: absolute;
  right: 0;

}
