
<div class="pano" *ngIf="puzzle$ | async as puzzle">
  <app-streetview-panorama
    [apiKey]="apiKey"
    [panoramaOptions]="panoramaOptions"

  ></app-streetview-panorama>

  <div class="title">{{puzzle.data.title}} {{solvings$ | async | json}} </div>

  <div class="question">
    {{puzzle.data.question}}
    <button mat-fab matTooltip="Solve&nbsp;puzzle" (click) = "openDialog(puzzle)">
      <mat-icon aria-label="Solve puzzle">
        done
      </mat-icon>
    </button>
  </div>


  <button class="cancel" matTooltip="Back" routerLink="/" mat-icon-button>
    <mat-icon aria-label="Back">clear</mat-icon>
  </button>

</div>
