.container {
  margin: 10px auto;
  text-align: center;

  .block {
    vertical-align: middle;
    display: inline-block;
    width: 300px;
    text-align: center;
    margin: 10px auto;

    button {
      width: 200px;
    }
  }
}
