<mat-toolbar>

  <button mat-icon-button (click)="menuClicked.emit()"><mat-icon>menu</mat-icon></button>

  <span class="title" (click)="router.navigate(['/'])">
    Street View Puzzle
  </span>
  <span class="spacer"></span>
  <span class="username" *ngIf="user$ | async as user; else showLogin">
      {{ user.displayName || user.email }}
  </span>
  <button mat-icon-button *ngIf="user$ | async" [matMenuTriggerFor]="menu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #menu>
    <button mat-menu-item (click)="router.navigate(['/profile'])" >Profile</button>
    <button mat-menu-item (click)="logout()" >Logout</button>
  </mat-menu>

  <ng-template #showLogin>
    <button mat-raised-button color="primary" (click)="router.navigate(['/login'])">
      Sign in
    </button>

  </ng-template>
</mat-toolbar>
