<div class="g-page-container">
  <div class="g-content">

    <h1>Sign in</h1>

    <div>
      <mat-form-field>
        <input type="email" matInput placeholder="email"
               name="email" [(ngModel)]="user.email" #email="ngModel" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input type="password" matInput placeholder="password"
               name="password" [(ngModel)]="user.password" #password="ngModel" required>
      </mat-form-field>
    </div>

    <p>
      <button mat-raised-button color="primary" (click)="loginWithEmailAndPassword()">Sign in</button>
    </p>

    <p>
      Do not have an account?
      <a mat-button href="#" routerLink="/register">Sign up!</a>
    </p>

  </div>
</div>
