<div class="g-page-container">

  <h3>Sign in</h3>

  <div>
    <mat-form-field>
      <input type="email" matInput placeholder="email"
             name="email" [(ngModel)]="user.email" #email="ngModel" required >
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input type="password" matInput placeholder="password"
             name="password" [(ngModel)]="user.password" #password="ngModel" required >
    </mat-form-field>
  </div>

  <p>
    <button mat-raised-button color="primary" (click)="loginWithEmailAndPassword()">Sign in</button>
  </p>


  <p>
    <a href="#" routerLink="/register">Do not have an account? Sign up!</a>
  </p>

</div>
